<h1>Tech Talk UII Room</h1>
<div class='list-comment'>
  <% @comments.each do |comment| %>
    <h4><%= comment.author %></h4>
    <p><%= comment.message %></p>
  <% end %>
</div>
<h2>Put your comment here</h2>
<%= form_for @comment, remote: true do |f| %>
  <p>
    <%= f.text_field :author, placeholder: 'Author' %>
    <%= f.text_field :message, placeholder: 'Message' %>
  </p>
  <%= f.submit %>
<% end %>
<script src="//js.pusher.com/2.2/pusher.min.js" type="text/javascript"></script>
<script type="text/javascript">
 var pusher = new Pusher('<%= Pusher.key %>'); // uses your APP KEY
 var channel = pusher.subscribe('message');
 channel.bind('new_message', function(data) {
     $('.list-comment').append("<h4>"+data.author+"</h4><p>"+data.message+"</p>");
 });
</script>
