<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h1>UII Messaging Platform</h1>
    </div>
  </div>
</div>
<div class="row list-comment">
  <% @comments.each do |comment| %>
    <div class="large-2 columns small-3"><strong><%= comment.author %></strong></div>
    <div class="large-10 columns"><p><%= comment.message %></p></div>
  <% end %>
</div>
<div class='row post-comment'>
  <div class="large-12 columns">
    <div class="row">
      <%= form_for @comment, remote: true do |f| %>
        <div class="large-2 columns small-3"><%= f.text_field :author, placeholder: 'Author' %></div>
        <div class="large-8 small-6 columns"><%= f.text_field :message, placeholder: 'Message' %></div>
        <div class="large-2 small-3 columns"><%= f.submit 'Add Comment', class: 'button tiny radius' %></div>
      <% end %>
    </div>
  </div>
</div>
<script src="//js.pusher.com/2.2/pusher.min.js" type="text/javascript"></script>
<script type="text/javascript">
var pusher = new Pusher('<%= Pusher.key %>'); // uses your APP KEY
var channel = pusher.subscribe('message');
channel.bind('new_message', function(data) {
    $('.list-comment').append("<div class='large-2 columns small-3'><strong>"+data.author+"</strong></strong></div>\n"+
      "<div class='large-10 columns'><p>"+data.message+"</p></div>");
    $('#comment_message').val('');
    });
</script>
